<dialog class="mdl-dialog">
<h4 class="mdl-dialog__title">Edit Source</h4>
<div class="mdl-dialog__content">
<form>
{{my-mdl-textfield value=model.citation label='Citation'}}
{{my-mdl-textfield value=model.url label='URL'}}
{{file-upload label="Upload File" work=model.work action='uploadComplete'}}
{{my-mdl-textfield value=model.ordered label='Ordered Date'}}
{{my-mdl-textarea value=model.comments label='Comments'}}
<div class="mdl-textfield mdl-js-textfield">
{{#power-select placeholder='Status' renderInPlace=true selected=model.status options=statuses onchange=(action (mut model.status)) as |name|}}
{{source-status name}}
{{/power-select}}
</div>
</form>
</div>
<div class="mdl-dialog__actions">
{{#mdl-button isRaised=true click=(action 'save')}} Save {{/mdl-button}}
{{#mdl-button isRaised=true click=(action 'close')}} Cancel {{/mdl-button}}
</div>
</dialog>
