{{source-dialog model=sourceToEdit showDialog=showSourceDialog}}
<table class="mdc-data-table mdc-js-data-table source-table">
  <colgroup>
    <col>
    <col class="citation-column">
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <th></th>
    <th class="">Citation</th>
    <th>URL</th>
    <th>Ordered</th>
    <th>Comments</th>
    <th>Status</th>
  </thead>
  <tbody>
    {{#each category as |source|}}
      <tr>
        <td>
          {{#mdc-button style="raised" click=(action "edit" source)}} Edit {{/mdc-button}}
        </td>
        <td class="citation-column">
          {{source.citation}}
        </td>
        <td>
          {{#if source.url}}
            <a href={{source.url}}>Link</a>
          {{/if}}
        </td>
        <td>
          {{source.ordered}}
        </td>
        <td class="wraptext">
          {{source.comments}}
        </td>
        <td>
          {{source-status source.status}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
