{{#mdc-dialog show=showDialog title="Edit Source" accepting=(action "save") closing=(action "close")}}
  <form>
    <table>
      <tbody>
        <tr>
          <td>
            {{#mdc-select label="Type" value=model.type}}
              {{#each types as |name|}}
                {{#mdc-select-option value=name}}{{source-type name}}{{/mdc-select-option}}
              {{/each}}
            {{/mdc-select}}
          </td>
        </tr>
        <tr>
          <td>
            {{mdc-textfield value=model.citation label="Citation"}}
          </td>
        </tr>
        <tr>
          <td>
            {{mdc-textfield value=model.url label="URL" pattern="(https?://|/).*"}}
          </td>
        </tr>
        <tr>
          <td>
            {{file-upload label="Upload File" endpoint="upload" work=model.work complete=(action "uploadComplete") progress=(action "uploadProgress") error=(action "uploadError")}}
          </td>
        </tr>
        <tr>
          <td>
            {{mdc-linear-progress progress=fileUploadProgress}}
          </td>
        </tr>
        <tr>
          <td>
            {{mdc-textfield type="date" max=(moment-format (now) "YYYY-MM-DD") value=model.ordered label="Ordered Date"}}
          </td>
        </tr>
        <tr>
          <td>
            {{mdc-textarea value=model.comments label="Comments"}}
          </td>
        </tr>
        <tr>
          <td>
            {{#mdc-select label="Status" value=model.status}}
              {{#each statuses as |name|}}
                {{#mdc-select-option value=name}}{{source-status name}}{{/mdc-select-option}}
              {{/each}}
            {{/mdc-select}}
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <footer class="mdc-dialog__actions">
    {{#mdc-dialog-button style="raised" action="accept" disabled=saveDisabled}} {{saveButtonText}} {{/mdc-dialog-button}}
    {{#mdc-dialog-button style="raised" action="close"}} Cancel {{/mdc-dialog-button}}
    {{#mdc-dialog-button style="raised" action="delete"}} <i class="material-icons">delete_forever</i> {{/mdl-button}}
  </footer>
{{/mdc-dialog}}
