<dialog class="mdl-dialog">
<h4 class="mdl-dialog__title">Edit Source</h4>
<div class="mdl-dialog__content">
<form>
<div class="mdl-textfield mdl-js-textfield">
{{#power-select placeholder='Type' renderInPlace=true selected=model.type options=types onchange=(action (mut model.type)) as |name|}}
{{source-type name}}
{{/power-select}}
</div>
{{my-mdl-textfield value=model.citation label='Citation'}}
{{my-mdl-textfield value=model.url label='URL' pattern='(https?://|/).*'}}
{{file-upload label="Upload File" endpoint='upload' work=model.work complete='uploadComplete' progress='uploadProgress' error='uploadError'}}
{{my-mdl-progress progress=fileUploadProgress}}
{{mdl-datefield date=model.ordered label='Ordered Date'}}
{{my-mdl-textarea value=model.comments label='Comments'}}
<div class="mdl-textfield mdl-js-textfield">
{{#power-select placeholder='Status' renderInPlace=true selected=model.status options=statuses onchange=(action (mut model.status)) as |name|}}
{{source-status name}}
{{/power-select}}
</div>
</form>
</div>
<div class="mdl-dialog__actions">
{{#mdl-button isRaised=true disabled=saveDisabled click=(action 'save')}} {{saveButtonText}} {{/mdl-button}}
{{#mdl-button isRaised=true isAccent=true click=(action 'close')}} Cancel {{/mdl-button}}
{{#mdl-button isRaised=true click=(action 'delete')}} <i class="material-icons">delete_forever</i> {{/mdl-button}}
</div>
</dialog>
