{{#mdc-dialog show=showDialog title="Edit Source" accepting=(action "save") closing=(action "close")}}
  <form>
    <div class="mdc-textfield mdc-js-textfield">
      {{#power-select placeholder="Type" renderInPlace=true selected=model.type options=types onchange=(action (mut model.type)) as |name|}}
        {{source-type name}}
      {{/power-select}}
    </div>
    {{mdc-textfield value=model.citation label="Citation"}}
    {{mdc-textfield value=model.url label="URL" pattern="(https?://|/).*"}}
    {{file-upload label="Upload File" endpoint="upload" work=model.work complete="uploadComplete" progress="uploadProgress" error="uploadError"}}
    {{mdc-linear-progress progress=fileUploadProgress}}
    {{mdc-textarea value=model.comments label="Comments"}}
    <div class="mdc-textfield mdc-js-textfield">
      {{#power-select placeholder="Status" renderInPlace=true selected=model.status options=statuses onchange=(action (mut model.status)) as |name|}}
        {{source-status name}}
      {{/power-select}}
    </div>
  </form>
  <footer class="mdc-dialog__actions">
    {{#mdc-dialog-button style="raised" action="accept" disabled=saveDisabled}} {{saveButtonText}} {{/mdc-dialog-button}}
    {{#mdc-dialog-button style="raised" action="close"}} Cancel {{/mdc-dialog-button}}
    {{#mdc-dialog-button style="raised" action="delete"}} <i class="material-icons">delete_forever</i> {{/mdl-button}}
  </footer>
{{/mdc-dialog}}
