<dialog class="mdl-dialog">
<h4 class="mdl-dialog__title">Edit Work</h4>
<div class="mdl-dialog__content">
<form>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{input id="author" value=model.author class="mdl-textfield__input"}}
<label class="mdl-textfield__label" for="author">Author</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{input id="title" value=model.title class="mdl-textfield__input"}}
<label class="mdl-textfield__label" for="title">Title</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{input id="volume" value=model.volume class="mdl-textfield__input"}}
<label class="mdl-textfield__label" for="volume">Volume</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{input id="issue" value=model.issue class="mdl-textfield__input"}}
<label class="mdl-textfield__label" for="issue">Issue</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
{{textarea id="work_comments" value=model.comments class="mdl-textfield__input"}}
<label class="mdl-textfield__label" for="work_comments">Comments</label>
</div>
</form>
</div>
<div class="mdl-dialog__actions">
{{#mdl-button action='save'}} Save {{/mdl-button}}
{{#mdl-button action='close'}} Cancel {{/mdl-button}}
</div>
</dialog>
