<dialog class="mdl-dialog">
<h4 class="mdl-dialog__title">Edit Work</h4>
<div class="mdl-dialog__content">
<form>
{{my-mdl-textfield label='Author' value=model.author}}
{{my-mdl-textfield label='Title' value=model.title}}
{{my-mdl-textfield label='Volume' value=model.volume}}
{{my-mdl-textfield label='Issue' value=model.issue}}
{{my-mdl-textarea label='Comments' value=model.comments}}
{{my-mdl-textarea label='Bookpuller' value=model.bookpuller}}
</form>
</div>
<div class="mdl-dialog__actions">
{{#mdl-button isRaised=true click=(action 'save')}} Save {{/mdl-button}}
{{#mdl-button isRaised=true click=(action 'close')}} Cancel {{/mdl-button}}
</div>
</dialog>
