{{source-dialog}}
{{#tab-control}}
<div class="mdl-tabs__tab-bar">
<a href="#books-panel" class="mdl-tabs__tab is-active">Books</a>
<a href="#cases-panel" class="mdl-tabs__tab">Cases</a>
<a href="#journals-panel" class="mdl-tabs__tab">Journals</a>
<a href="#legislative-panel" class="mdl-tabs__tab">Legislative</a>
<a href="#periodicals-panel" class="mdl-tabs__tab">Periodicals</a>
<a href="#miscellaneous-panel" class="mdl-tabs__tab">Miscellaneous</a>
</div>
<div class="mdl-tabs__panel is-active" id="books-panel">
{{source-list category=books}}
</div>
<div class="mdl-tabs__panel" id="cases-panel">
{{source-list category=cases}}
</div>
<div class="mdl-tabs__panel" id="journals-panel">
{{source-list category=journals}}
</div>
<div class="mdl-tabs__panel" id="legislative-panel">
{{source-list category=legislative}}
</div>
<div class="mdl-tabs__panel" id="periodicals-panel">
{{source-list category=periodicals}}
</div>
<div class="mdl-tabs__panel" id="miscellaneous-panel">
{{source-list category=miscellaneous}}
</div>
{{/tab-control}}
{{outlet}}
