{{work-dialog model=workToEdit}}
<table id="works">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th role="button" {{action "changesort" "author"}} class="{{if (and (eq sortKey "author") (eq sortOrder "asc")) "active-sort-asc"}}{{if (and (eq sortKey "author") (eq sortOrder "desc")) "active-sort-desc"}}">
        Author
      </th>
      <th role="button" {{action "changesort" "bookpuller"}} class="{{if (and (eq sortKey "bookpuller") (eq sortOrder "asc")) "active-sort-asc"}}{{if (and (eq sortKey "bookpuller") (eq sortOrder "desc")) "active-sort-desc"}}">
        Bookpuller
      </th>
      <th role="button" {{action "changesort" "volume"}} class="{{if (and (eq sortKey "volume") (eq sortOrder "asc")) "active-sort-asc"}}{{if (and (eq sortKey "volume") (eq sortOrder "desc")) "active-sort-desc"}}">
        Volume
      </th>
      <th role="button" {{action "changesort" "issue"}} class="{{if (and (eq sortKey "issue") (eq sortOrder "asc")) "active-sort-asc"}}{{if (and (eq sortKey "issue") (eq sortOrder "desc")) "active-sort-desc"}}">
        Issue
      </th>
      <th role="button" {{action "changesort" "title"}} class="{{if (and (eq sortKey "title") (eq sortOrder "asc")) "active-sort-asc"}}{{if (and (eq sortKey "title") (eq sortOrder "desc")) "active-sort-desc"}}">
        Title
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sorted as |work|}}
      <tr>
        <td>{{#mdc-button style="raised" click=(action (mut workToEdit) work)}} Edit {{/mdc-button}}</td>
        <td>{{#mdc-button style="raised" click=(action "sources" work)}} Sources {{/mdc-button}}</td>
        <td>{{work.author}}</td>
        <td>{{work.bookpuller}}</td>
        <td>{{work.volume}}</td>
        <td>{{work.issue}}</td>
        <td>{{work.title}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{mdc-button isFloating=true icon="add" click=(action "add")}}
