<table class="mdl-data-table mdl-js-data-table">
<thead>
<tr>
<th class="mdl-data-table__cell--non-numeric"></th>
<th class="mdl-data-table__cell--non-numeric"></th>
<th class="mdl-data-table__cell--non-numeric">Author</th>
<th class="mdl-data-table__cell--non-numeric">Title</th>
<th>Volume</th>
<th>Issue</th>
<th class="mdl-data-table__cell--non-numeric">Comments</th>
</tr>
</thead>
<tbody>
{{#each sorted as |work|}}
<tr>
<td>{{#mdl-button action=(action 'edit' work)}} Edit {{/mdl-button}}</td>
<td>{{#mdl-link-button 'work.sources' work}} Sources {{/mdl-link-button}}</td>
<td class="mdl-data-table__cell--non-numeric">{{work.author}}</td>
<td class="mdl-data-table__cell--non-numeric">{{work.title}}</td>
<td>{{work.volume}}</td>
<td>{{work.issue}}</td>
<td class="mdl-data-table__cell--non-numeric">{{work.comments}}</td>
</tr>
{{/each}}
</tbody>
</table>
{{mdl-fab action=(action 'add')}}
