<table id="works" class="mdl-data-table mdl-js-data-table">
<thead>
<tr>
<th></th>
<th></th>
<th class="mdl-data-table__cell--non-numeric">Author</th>
<th class="mdl-data-table__cell--non-numeric">Bookpuller</th>
<th>Volume</th>
<th>Issue</th>
<th class="mdl-data-table__cell--non-numeric">Title</th>
</tr>
</thead>
<tbody>
{{#each sorted as |work|}}
<tr>
<td>{{#mdl-button isRaised=true click=(action 'edit' work)}} Edit {{/mdl-button}}</td>
<td>{{#mdl-button isRaised=true click=(action 'sources' work)}} Sources {{/mdl-button}}</td>
<td class="mdl-data-table__cell--non-numeric">{{work.author}}</td>
<td class="mdl-data-table__cell--non-numeric">{{work.bookpuller}}</td>
<td>{{work.volume}}</td>
<td>{{work.issue}}</td>
<td class="mdl-data-table__cell--non-numeric">{{work.title}}</td>
</tr>
{{/each}}
</tbody>
</table>
{{mdl-button isFloating=true icon='add' click=(action 'add')}}
